@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  font-family: var(--font-prompt), sans-serif;
}

body {
  overflow-x: hidden;
}
:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000 !important; 
  --foreground: #ffffff !important;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

